/* css global variables */
:root {
    --drawerWidth: 200px; 
    --drawerColor: rgb(50,50,50)
}

body {
    margin: 0px;
    font-family: roboto, sans-serif;
}

/* button to toggle open and closing the side drawer */
#toggler {
    position: absolute; 
    top: 0px; 
    right: 0px; 
}

#sideDrawer {
    width: var(--drawerWidth); 
    height: 100vh;  
    /* border-radius: 50%; */
    /* transition: 0.1s; */
    position: absolute;
    top: 0px; 
    overflow-y: scroll;
    /* margin: auto; */
    /* display: flex; */
    /* flex-flow: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.non-active {
    left: calc(var(--drawerWidth) * -1);
    /* left: -200px; */
    /* top: 100px;  */
    background: var(--drawerColor);
    transition-timing-function: ease-out;
    transition: 0.1s;
}

.active {
    transition: 0.2s;
    /* transform: translateX(calc(var(--drawerWidth) * 0.5)); */
    /* transform: translateX(var(--drawerWidth)); */
    left: 0px;
    transition-timing-function: ease-in;

}

.drawerItem {
    font-size: 1.5rem; 
    height: 150px; 
    width: calc(var(--drawerWidth) * 0.9);
    color: white; 
    margin: 5px auto;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: rgb(200, 100, 100);
}

#closeMenuButton { 
    position: sticky; 
    float: right;
    margin-right: 20px; 
    top: 20px; 

    height: 0px; 
    background-color: transparent;
    width: 50px; 
    font-size: 2rem;
    color: black; 
    border: none; 
}