/* css global variables */
:root {
    --drawerWidth: 200px; 
    --drawerColor: rgb(50,50,50);
    --textColor: rgb(70,70,70);
    --backgroundColor: rgb(250,250,250);
    --drawerBackgroundColor: rgb(200,200,200); 
    --listBackgroundColor: rgba(100,100,100,0.5);
    --borderRadius: 7px;    
    --standardWidth: calc(70vw); 
    --boldTextColor: rgb(0,0,0);
}

body {
    margin: 0px;
    line-height: 1.5;
    font-family: roboto, sans-serif;
}

article {
    max-width: var(--standardWidth);
    margin: auto;
}


h1 {
    font-size: 4rem;
    text-align: center; 
    background: var(--textColor); 
    color: var(--backgroundColor);
    margin: 0px; 
}

/* button to toggle open and closing the side drawer */
#toggler {
    position: absolute; 
    top: 0px; 
    right: 0px; 
}

#sideDrawer {
    width: var(--drawerWidth); 
    height: 100vh;  
    background: var(--drawerBackgroundColor);
    top: 0px; 
    overflow-y: scroll;
    position: fixed; 
    z-index: 2;
    /* display: inline; */
}

/* blur body when side drawer is active */
#sideDrawer.active ~ main{
    transition: 0.2s ease-in;
    filter: blur(2px);
}

.drawerItem {
    /* max-height: 100px;  */
}

.drawerItemTitle {
    font-size: 1.5rem; 
    height: 100px; 
    /* width: calc(var(--drawerWidth) * 0.9); */
    width: 100%;
    color: white; 
    margin: 5px auto; 
    background-color: rgb(200, 100, 100);
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
}

/* sub items of drawer items  */
.subItems {
    height: 0px;
    display: none;
    color: white`;
}

.subItems.active {
    /* background-color: blue; */
    display: block; 
    height: 100%; 
    transition: .2s;
    padding: 0px 10px; 
}

.subItem {
    display: none; 
    transition: .2s;
    word-wrap: wrap;
    width: 100%; 
    margin: auto; 
    font-size: .8rem;
}

.subItem:before{
    content: '- '
}

/* when subItems has the active class, unhide its children */
.subItems.active .subItem {
    display: block;
    transition: .2s;
}

#closeMenuButton {
     /*keep hidden until in mobile size screen  */
    display: none; 
    position: sticky; 
    /* right: 100px; */
    float: right;
    margin-right: 20px; 
    top: 50%; 
    height: 20px; 
    background-color: transparent;
    width: 50px; 
    font-size: 2rem;
    color: black; 
    border: none; 
}

#test {
    width: 100px; 
    height: 100px; 
    position: absolute; 
    top: 10px; 
    /* right: 10px;  */
    background-color: red;
}

main {
    --mainPadding: 10px; 
    overflow-y: scroll;
    padding: var(--mainPadding);
    background-color: var(--backgroundColor);
    color: var(--textColor);
    /* add padding to the left to make up for side drawer width */
    padding-left: calc(var(--drawerWidth) + var(--mainPadding)); 
}

b {
    font-style: italic;
    color: var(--boldTextColor);
}

h2 {
    /* text-align: right; */
    /* float: right; */
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
}
.headerBGLine {
    /* the following line draws a line behind the header with this tag */
    /* background-image: linear-gradient(transparent 40%, blue 40%, blue 60%, transparent 60%); */
}

#spellList {
    margin: auto; 
    /* max-width: var(--standardWidth);  */
    /* width: calc(var(--standardWidth) * 2); */
}
.spells {
    padding: 5px; 
    display: flex; 
    flex-flow: column wrap; 
    align-content: center;
    /* min and max height of the spells list states that 
    the min height should hold about 30 spells in a column 
    and at max it should hold about 50 
    */
    min-height: calc(50px * 30);
    max-height: calc(50px * 50);
}

.spells div {
    /* list-style: none; */
    margin: 2px;
    padding: 3px;
    /* spells cannot grow (0), they can shrink (1) */
    flex: 0 1 0;
    max-width: 30vw;
}

@media (max-width: 1080px){
    .spells {
        flex-flow: column;
        max-height: none; 
        max-width: 90vw;
    }
    .spells div {
        max-width: 100%;
    }
}
/* mobile media query */
@media (max-height: 700px), (max-width: 600px){
    :root {
        --standardWidth: calc(90vw);
    }
    #spellList {
        /* if the screen isn't tall enough, make the spell list scrollable */
        border: 3px solid var(--textColor); 
        border-radius: var(--borderRadius);
        /* float: right;  */
        max-width: 80vw;
        max-height: 95vh; 
        overflow-y: scroll;
    }
}

.spells div:nth-child(2n){
    background: var(--listBackgroundColor);
}

.spell span:nth-child(1){
    font-weight: 900;
    font-style: italic;
    /* color: blue; */
}

#spellGenerator {
    max-width: 300px; 
    height: 150px; 
    border: 3px solid var(--textColor);
    border-radius: 7px; 
    margin: auto; 
    padding: 10px; 
    text-align: center; 
}

#spellGeneratorName {
    margin: 0px auto; 
}



#spellGeneratorButton {
    margin: 5px auto; 
    display: flex; 
    font-size: 1.5rem;    
    background-color: var(--backgroundColor);
    color: var(--textColor); 
    border: 3px solid var(--textColor); 
    border-radius: 7px; 
    padding: 5px;
}

@media (max-width: 800px) {
    #sideDrawer.non-active {
        left: calc(var(--drawerWidth) * -1);
        transition-timing-function: ease-out;
        transition: 0.1s;
    }
    #sideDrawer.active {
        transition: 0.2s;
        /* transform: translateX(calc(var(--drawerWidth) * 0.5)); */
        /* transform: translateX(var(--drawerWidth)); */
        left: 0px;
        transition-timing-function: ease-in;
        /* position: sticky; */
    }
    main {
        padding: 10px;
    }

    #closeMenuButton {
        display: block;
    }
}