/* css global variables */
:root {
    --drawerWidth: 200px; 
    --drawerColor: rgb(50,50,50);
    --textColor: rgb(200,200,200);
    --backgroundColor: rgb(20,20,20);
    --drawerBackgroundColor: rgb(200,200,200); 
    --listBackgroundColor: rgba(100,100,100,0.5);
}

body {
    margin: 0px;
    line-height: 1.5;
    font-family: roboto, sans-serif;
}

/* button to toggle open and closing the side drawer */
#toggler {
    position: absolute; 
    top: 0px; 
    right: 0px; 
}

#sideDrawer {
    width: var(--drawerWidth); 
    height: 100vh;  
    background: var(--drawerBackgroundColor);
    top: 0px; 
    overflow-y: scroll;
    position: fixed;

}

/* drawer non-active class  */
.non-active {
    left: calc(var(--drawerWidth) * -1);
    /* left: -200px; */
    /* top: 100px;  */
    transition-timing-function: ease-out;
    transition: 0.1s;
    /* position: absolute;  */
}

/* drawer active class  */
.active {
    transition: 0.2s;
    /* transform: translateX(calc(var(--drawerWidth) * 0.5)); */
    /* transform: translateX(var(--drawerWidth)); */
    left: 0px;
    transition-timing-function: ease-in;
    /* position: sticky; */
}

.drawerItem {
    /* max-height: 100px;  */
}

.drawerItemTitle {
    font-size: 1.5rem; 
    height: 100px; 
    /* width: calc(var(--drawerWidth) * 0.9); */
    width: 100%;
    color: white; 
    margin: 5px auto; 
    background-color: rgb(200, 100, 100);
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
}

/* sub items of drawer items  */
.subItems {
    height: 0px;
    display: none;
    color: white`;
}

.subItems.active {
    /* background-color: blue; */
    display: block; 
    height: 100%; 
    transition: .2s;
    padding: 0px 10px; 
}

.subItem {
    display: none; 
    transition: .2s;
    word-wrap: wrap;
    width: 100%; 
    margin: auto; 
    font-size: .8rem;
}

.subItem:before{
    content: '- '
}

/* when subItems has the active class, unhide its children */
.subItems.active .subItem {
    display: block;
    transition: .2s;
}

#closeMenuButton { 
    position: sticky; 
    /* right: 100px; */
    float: right;
    margin-right: 20px; 
    top: 50%; 
    height: 20px; 
    background-color: transparent;
    width: 50px; 
    font-size: 2rem;
    color: black; 
    border: none; 
}

#test {
    width: 100px; 
    height: 100px; 
    position: absolute; 
    top: 10px; 
    /* right: 10px;  */
    background-color: red;
}

main {
    overflow-y: scroll;
    padding: 10px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

b {
    font-style: italic;
}

h2 {
    /* text-align: right; */
    /* float: right; */
    font-size: 3rem;
    margin-bottom: 0px;
}
.headerBGLine {
    background-image: linear-gradient(transparent 40%, blue 40%, blue 60%, transparent 60%);
}

.spells {
    padding: 5px; 
    /* line-height: 1.5; */
}

.spells li {
    list-style: none;
    margin: 10px;
    padding: 3px;
    /* border-radius: 10px; */
}

.spells li:nth-child(2n){
    background: var(--listBackgroundColor);
}

.spell span:nth-child(1){
    font-weight: 900;
    font-style: italic;
    /* color: blue; */
}