$drawerWidth: 200px; 
/* css global variables */
:root {
    --drawerColor: rgb(50,50,50);
    --textColor: rgb(70,70,70);
    --backgroundColor: rgb(250,250,250);
    --drawerBackgroundColor: rgb(200,200,200); 
    --listBackgroundColor: rgba(100,100,100,0.5);
    --borderRadius: 7px;    
    --standardWidth: calc(70vw); 
    --boldTextColor: rgb(0,0,0);
    --headerHeight: 10vh; 
    --headerFontSize: 6vh; 
}

body {
    margin: 0px;
    line-height: 1.5;
    font-family: roboto, sans-serif;
    padding: 0px;

}

/* give first header a large top margin to make up for floating header */
#title {
    margin-top: var(--headerHeight)
}

#mainWrapper {
    overflow-y: hidden;
}

main {
    --mainPadding: 10px; 
    padding: 0px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    /* add padding to the left to make up for side drawer width */
    /* padding-left: calc($drawerWidth + var(--mainPadding));  */
}


article {
    max-width: var(--standardWidth);
    margin: auto;
}

#mainTitle, #toggler {
    height: var(--headerHeight);
    max-height: var(--headerHeight);
    /* font-size: 4rem; */
    text-align: center; 
    background: var(--textColor); 
    color: var(--backgroundColor);
    margin: auto; 
}

#mainTitle{ 
    width: 100%;
    position: fixed;
    top: 0px; 
    left: 0px; 
    z-index: 1;
    font-size: 6vh;
}

#mainTitle h1 {
    font-size: var(--headerFontSize);
    margin: 0; 
    text-align: center;
    /* display: inline-block; */
    /* add padding to the right to make up for the width of the menu button */
    /* padding-right: var(--headerHeight); */
}

/* button to toggle open and closing the side drawer */
#toggler {
    font-size: var(--headerFontSize);
    height: 6vw;
    width: 6vw;
    /* display: inline-block; */
    text-align: center;
    margin: auto;
    float: left; 
    border: none;
    position: sticky; 
}

#sideDrawer {
    height: 100vh;  
    background: var(--textColor);
    top: 0vh;  
    overflow-y: auto;
    position: fixed; 
    
    .non-active {
        width: 0px; 
        left: ($drawerWidth * -1);
        transition: 0.1s;
    }

    .active {
        width: $drawerWidth;
        transition: 0.2s;
        #main {
            overflow-y: hidden;
        }
    }

}



main {
    position: absolute; 
    top: 0px; 
    padding: 10px;
    height: 100vh; 
}



/* blur body when side drawer is active */
#sideDrawer.active ~ main, #sideDrawer.active ~ #mainTitle{
    transition: 0.2s ease-in;
    // filter: blur(2px);
}

.drawerItem {
    /* max-height: 100px;  */
}

.drawerItem {
    font-size: 1.2rem; 
    height: 40px; 
    /* width: calc($drawerWidth * 0.9); */
    width: 100%;
    color: var(--backgroundColor); 
    margin: 10px auto; 
    background-color: var(--textColor);
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

#closeMenuButton {
    /* right: 100px; */
    float: right;
    margin-right: 20px; 
    top: 50%; 
    height: 20px; 
    background-color: transparent;
    width: 50px; 
    font-size: 2rem;
    color: black; 
    border: none; 
}

#test {
    width: 100px; 
    height: 100px; 
    position: absolute; 
    top: 10px; 
    /* right: 10px;  */
    background-color: red;
}

b {
    font-style: italic;
    color: var(--boldTextColor);
}

h2 {
    /* text-align: right; */
    /* float: right; */
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
}
.headerBGLine {
    /* the following line draws a line behind the header with this tag */
    /* background-image: linear-gradient(transparent 40%, blue 40%, blue 60%, transparent 60%); */
}

#spellList {
    margin: auto; 
    /* max-width: var(--standardWidth);  */
    /* width: calc(var(--standardWidth) * 2); */
}
.spells {
    padding: 5px; 
    display: flex; 
    flex-flow: column wrap; 
    align-content: center;
    /* min and max height of the spells list states that 
    the min height should hold about 30 spells in a column 
    and at max it should hold about 50 
    */
    min-height: calc(50px * 30);
    max-height: calc(50px * 50);
}

.spells div {
    /* list-style: none; */
    margin: 2px;
    padding: 3px;
    /* spells cannot grow (0), they can shrink (1) */
    flex: 0 1 0;
    max-width: 30vw;
}

@media (max-width: 1080px){
    .spells {
        flex-flow: column;
        max-height: none; 
        max-width: 90vw;
    }
    .spells div {
        max-width: 100%;
    }
}
/* mobile media query */
@media (max-height: 700px), (max-width: 600px){
    :root {
        --standardWidth: calc(90vw);
    }
    #spellList {
        /* if the screen isn't tall enough, make the spell list scrollable */
        border: 3px solid var(--textColor); 
        border-radius: var(--borderRadius);
        /* float: right;  */
        max-width: 80vw;
        max-height: 95vh; 
        overflow-y: scroll;
    }
}

.spells div:nth-child(2n){
    background: var(--listBackgroundColor);
}

.spell span:nth-child(1){
    font-weight: 900;
    font-style: italic;
    /* color: blue; */
}

#spellGenerator {
    max-width: 300px; 
    height: 150px; 
    border: 3px solid var(--textColor);
    border-radius: 7px; 
    margin: auto; 
    padding: 10px; 
    text-align: center; 
}

#spellGeneratorName {
    margin: 0px auto; 
}



#spellGeneratorButton {
    margin: 5px auto; 
    display: flex; 
    font-size: 1.5rem;    
    background-color: var(--backgroundColor);
    color: var(--textColor); 
    border: 3px solid var(--textColor); 
    border-radius: 7px; 
    padding: 5px;
}