$drawerWidth: 300px; 
$drawerColor: rgb(50,50,50);
$textColor: rgb(56, 49, 49);
$backgroundColor: #F4FFFD;
$noteColor: #465362;
$headerColor : #ED254E;
$drawerTextColor: rgb(200,200,200); 
$drawerBackgroundColor: #011936; 
$listBackgroundColor: rgba(100,100,100,0.2);
$borderRadius: 7px;    
$standardWidth: 70vw; 
$boldTextColor: rgb(0,0,0);
$headerHeight: 8vh; 
$headerFontSize: 5vh; 

body {
    margin: 0px; 
    line-height: 1.5;
    font-family: roboto, sans-serif;
    padding: 0px;
    background-color: $backgroundColor;
    scroll-behavior: smooth;
    // font-weight: 600;
    scroll-behavior: smooth;
    // background-image: url('../assets/sword.svg');
    // background-size: cover;
    // background-position: fixed;
    // background-repeat: no-repeat;
}

button {
    outline: none;  
}

#sideDrawer {
    background-color: $drawerBackgroundColor;
    position: fixed; 
    margin: 0px; 
    // top: 0px; 
    left: -$drawerWidth;
    height: 100vh - $headerHeight; 
    width: $drawerWidth;
    // transition: all 0.1s ease-in, height 0s; 
    
    display: flex; 
    flex-flow: column;
    // justify-content: space-evenly;
    overflow-x: hidden; 
    overflow-y: auto;

    z-index: 2; 

    #closeMenuButton {
        visibility: hidden;
    }

    .drawerItem {
        color: $drawerTextColor;
        width: $drawerWidth; 
    }
    &.active {
        top: $headerHeight; 
        left: 0px;
        transition: 0.4s ease-out; 
        // width: $drawerWidth;
        // left: 0;
        // #closeMenuButton {
        //     visibility: visible;
        // }
    
        .drawerItem {
            visibility: visible;
            width: $drawerWidth; 
        }    
    }
}

#sideDrawer.focus{
    background-color: red;
}


// prevent scrolling on main div while menu is open 
#sideDrawer.active ~ #mainWrapper {
    // opacity: 0.5;
    // height: 100vh - $headerHeight;
}

#mainWrapper {
    opacity: 1;

    &.menuActive {
        transition: 0.2s ease;
        opacity: 0.3;
    }
}

.drawerItem {
    margin: 5px; 
    font-size: 1.2rem;  
    text-decoration: none;
}


#mainTitle, #toggler {
    max-height: $headerHeight;
    text-align: center; 
    margin: auto; 
    color: $drawerTextColor;
    font-size: 3vh;
} 

#toggler {
    outline: none; 
    // width: $headerHeight * 0.5;
    background-color: $drawerBackgroundColor;
    color: $drawerTextColor;
    border: none;
    margin: 5px; 
    text-shadow: none;
    svg {
        transform: scale(2);    
        // color: blue;
        fill: $drawerTextColor;
    }
}

#mainTitle{ 
    height: $headerHeight;
    width: 100%;
    position: fixed;
    top: 0px; 
    left: 0px; 
    font-size: 3vh;
    background: $drawerBackgroundColor; 
    margin: 0px; 
    display: flex;
    z-index: 2;  
}



#mainTitle h1 {
    font-size: $headerFontSize;
    text-align: left;
    margin: 0; 
    // text-align: center;
    /* display: inline-block; */
    /* add padding to the right to make up for the width of the menu button */
    /* padding-right: $headerHeight); */
}

main {
    padding: 10px;
    // background-color: $backgroundColor;
    color: $textColor;
    height: 100%; 
    margin: auto;
    margin-top: $headerHeight;
    width: $standardWidth;
}

article {
    // max-width: $standardWidth;
    margin: auto;
    // try adding columns back in at some point 
    // columns: 300px 3;
}

h2 {
    font-size: 3rem;
    // margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    // adding the following top padding and margin to allow for the anchor to scroll to this item and account for the height of the title 
    padding-top: $headerHeight;
    margin-top: $headerHeight;
    border-radius: 10px;

    // background-image: url('../assets/sword.svg');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    // I put a space between the & and the : to turn off the horizontal line generated below 
    & :before {
        display: block;
        content:"";
        height: 0;
        margin: auto; 
        margin-top: 0.5 * $headerHeight;
        margin-bottom: 0.5 * $headerHeight;
        border-top: 0.5px solid $textColor; 
        width: 90%; 
        transform: translateY(1rem);
    }
}

#reactionsList {
    margin: auto;
    width: 50%;
    padding: 0px;
}

#reactionsList li {
    font-size: 1.5rem;
    list-style: none;
    padding: 10px;
    border-radius: $borderRadius;
    max-width: 200px; 
    margin: auto;
    text-align: center;
    // transition: 0.3s;
    transition: 0.3s;
    svg {
        opacity: 0.5;
        transform: rotate(90deg);
    }
    &.highlighted {
        animation-name: highlight;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        @keyframes highlight {
            from {
                color: $textColor; 
                background-color: $backgroundColor;
            }

            to {
                color: $backgroundColor;
                background-color: $drawerBackgroundColor;
            }
        }
        svg{
            opacity: 1;
            fill: $backgroundColor;
            // animation for svg rotating 
            animation-name: rotatingSword;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }
        @keyframes rotatingSword {
            from {
                transform: rotate(0deg) scale(1); 
            }
            to {
                transform: rotate(360deg) scale(1.5) translateX(-5px);
            }
        }
    }
}

#spellList {
    margin: auto; 
}

.spells {
    padding: 5px; 
    columns: 15rem auto;
    & div {
        margin: 2px;
        padding: 3px;
        break-inside: avoid;
    }
    
    & div:nth-child(2n){
        background: $listBackgroundColor;
    }

    & span:nth-child(1){
        font-weight: bold;
        font-style: italic;
    }
    
}

#spellGenerator {
    max-width: 300px; 
    height: 150px; 
    border: 3px solid $textColor;
    border-radius: 7px; 
    margin: 5px auto; 
    padding: 10px; 
    text-align: center; 
}

#spellGeneratorName {
    margin: 0px auto; 
}

.generatorButton {
    margin: 5px auto; 
    display: flex; 
    font-size: 1.5rem;    
    background-color: $listBackgroundColor;
    color: $textColor; 
    border: none; 
    border-radius: 7px; 
    padding: 5px;

}
#spellGeneratorButton.active {
    background-color: grey;
}

@media (max-width: 600px){
    main {
        width: 90%; 
    }
}

/* mobile media query */
@media (max-height: 700px), (max-width: 900px){
    $standardWidth: 90vw;
    main {
        width: 90vw;
    }
    #spellList {
        /* if the screen isn't tall enough, make the spell list scrollable */
        border: 3px solid $textColor; 
        border-radius: $borderRadius;
        max-width: 90vw;
        max-height: 85vh; 
        overflow-y: scroll;
    }
    #spellGenerator {
        max-width: 90vw;
    }
    #reactionsList {
        width: 100%;
    }
}

// touch elements styling 
#touchElement {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    z-index: -1;
}

#openDrawerElement {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 10%; 
    height: 100%; 
    background-color: blue;
    opacity: 0.0;
    // z-index: 2; 
}

.designerNotes {
    text-align: center;
    font-style: italic;
    background-color: $noteColor;
    color: $backgroundColor;
    border-radius: 10px; 
    padding:5px;
    // adjust width and height so only the words 'Designer's Notes:' show:
    max-height: 22px; 
    max-width: 117px;

    overflow: hidden;
    transition: 0.2s;
    border: 3px solid $backgroundColor;
    opacity: 0.8;    
    &.open {
        opacity: 1;
    }
    .designerNotes__title {
        text-align: left; 
    }
}

li {
    list-style: none;

    svg {
        vertical-align: middle;
        // transform: rotate(90deg);
    }
}